<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zentao.publish.dao.IProductDao">
    <resultMap id="productMap" type="com.zentao.publish.entity.PubProduct">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="publish_path" property="publishPath" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIME"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIME"/>
    </resultMap>

    <insert id="create" keyProperty="id" keyColumn="id">
        insert into pub_product
        values (#{id}, #{name}, #{publishPath}, #{createTime}, #{modifyTime})
    </insert>

    <update id="update">
        update pub_product
        set name              = #{name},
            publish_path      = #{publishPath},
            modify_time       =#{modifyTime}
        where id = #{id}
    </update>

    <delete id="delete">
        delete
        from pub_product
        where id = #{id}
    </delete>

    <select id="getAll" resultMap="productMap">
        select *
        from pub_product
        order by name
    </select>

    <select id="getById" resultMap="productMap">
        select *
        from pub_product
        where id = #{id}
    </select>

</mapper>